@{
    ViewData["Title"] = "Principal ";
}

<div class="bg-image d-flex justify-content-center align-items-center"
     style="background-image: url('img/main.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    height: 95vh;">
    <div class="col-lg-7">
        <button type="button" onclick="location.href='@Url.Action("index", "capacitaciones")'" class="btn btn-info btn-lg">Comenzar</button>
    </div>
</div>

